* {
    background-color: #000033;
}

img {
    border-radius:8px;
}

button {
    color:white;
    background-color:#444455;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    padding: 20px 40px;
    border-radius:8px;
    display:inline-block;
}

#contents {
    text-align: center;
}
#mouseoverImg{
    margin-left: 25%;  
    margin-right: 25%;
}
#header,#footer {
    color:white;
    background-color:#333344;
    padding-top:40px;
    padding-bottom:40px;
    display:block;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-left:-10px;
    margin-right:-10px;
}

#header {
    font-size:xx-large;
    border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top:-10px;
}
#footer{
    font-size:smaller;
    margin-bottom:-10px;
}